@using Database.Enums;
@model HeartDiseasePrediction.ViewModel.PredictionViewModel
@{
    ViewData["Title"] = "Edit Medical Test Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="Create">
                    <h4>
                        Edit <span>Medical Test</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="@Model.Id" type="text" hidden/>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PatientSSN"></label>
                            <input asp-for="@Model.PatientSSN" type="text" class="form-control" id="inputPatientSSN" placeholder="Enter Patient SSN">
                            <span asp-validation-for="@Model.PatientSSN" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PatientEmail"></label>
                            <input asp-for="@Model.PatientEmail" type="text" class="form-control" id="inputPatientEmail" placeholder="Enter Patient Email">
                            <span asp-validation-for="@Model.PatientEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PatientName"></label>
                            <input asp-for="@Model.PatientName" type="text" class="form-control" id="inputPatientName" placeholder="Enter Patient Name">
                            <span asp-validation-for="@Model.PatientName" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row ">
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Age"></label>
                            <input asp-for="@Model.Age" type="number" class="form-control" id="inputAge" placeholder="Enter Age">
                            <span asp-validation-for="@Model.Age" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Gender"></label>
                            <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option value="NoSelected ">--Select Gender-- </option>
                            </select>
                            <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Smoking"></label>
                            <select asp-for="@Model.Smoking" class="form-control wide" id="inputSmoking">
                                <option value="NoSelected ">--Select Smoking-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span asp-validation-for="@Model.Smoking" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Diabetes"></label>
                            <select asp-for="@Model.Diabetes" class="form-control wide" id="inputDiabetes">
                                <option value="NoSelected ">--Select Diabetes-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span asp-validation-for="@Model.Diabetes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.GlucoseLevel"></label>
                            <input asp-for="@Model.GlucoseLevel" type="number" class="form-control" id="inputGlucoseLevel" placeholder="Enter Glucose Level">
                            <span asp-validation-for="@Model.GlucoseLevel" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.NumberOfCigarettes"></label>
                            <input asp-for="@Model.NumberOfCigarettes" type="number" class="form-control" id="inputNumberOfCigarettes" placeholder="Enter Number Of Cigarettes">
                            <span asp-validation-for="@Model.NumberOfCigarettes" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.CholesterolLevel"></label>
                            <input asp-for="@Model.CholesterolLevel" type="number" class="form-control" id="CholesterolLevel" placeholder="Enter Cholesterol Level">
                            <span asp-validation-for="@Model.CholesterolLevel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.BloodPressureMedicine"></label>
                            <select asp-for="@Model.BloodPressureMedicine" class="form-control wide" id="inputBloodPressureMedicine">
                                <option value="NoSelected ">--Select Blood Pressure Medicine-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span asp-validation-for="@Model.Diabetes" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PrevalentStroke"></label>
                            <input asp-for="@Model.PrevalentStroke" type="number" class="form-control" id="PrevalentStroke" placeholder="Enter Prevalent Stroke">
                            <span asp-validation-for="@Model.PrevalentStroke" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Prevalenthypertension"></label>
                            <input asp-for="@Model.Prevalenthypertension" type="number" class="form-control" id="Prevalenthypertension" placeholder="Enter Prevalent hypertension">
                            <span asp-validation-for="@Model.Prevalenthypertension" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.BMI"></label>
                            <input asp-for="@Model.BMI" type="number" class="form-control" id="BMI" placeholder="Enter BMI">
                            <span asp-validation-for="@Model.BMI" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.SystolicBloodPressure"></label>
                            <input asp-for="@Model.SystolicBloodPressure" type="number" class="form-control" id="SystolicBloodPressure" placeholder="Enter Systolic Blood Pressure">
                            <span asp-validation-for="@Model.SystolicBloodPressure" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.DiastolicBloodPressure"></label>
                            <input asp-for="@Model.DiastolicBloodPressure" type="number" class="form-control" id="DiastolicBloodPressure" placeholder="Enter Diastolic Blood Pressure">
                            <span asp-validation-for="@Model.DiastolicBloodPressure" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}