@using Database.Enums;
@model HeartDiseasePrediction.ViewModel.PredictionViewModel
@{
    ViewData["Title"] = "Prediction Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="Prediction">
                    <h4>
                        Make <span>Prediction</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row" >
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Age"></label>
                            <input asp-for="@Model.Age" type="number" class="form-control" id="inputAge" placeholder="Enter Age" readonly>
                            <span asp-validation-for="@Model.Age" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Sex"></label>
                            <select asp-for="@Model.Sex" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()" readonly>
                                <option value="">--Select Gender-- </option>
                            </select>
                            <span asp-validation-for="@Model.Sex" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Smoker"></label>
                            <select asp-for="@Model.Smoker" class="form-control wide" id="inputSmoking" readonly>
                                <option value="">--Select Smoker-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span asp-validation-for="@Model.Smoker" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Diabetes"></label>
                            <select asp-for="@Model.Diabetes" class="form-control wide" id="inputDiabetes" readonly>
                                <option value="NoSelected ">--Select Diabetes-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span asp-validation-for="@Model.Diabetes" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Glucose"></label>
                            <input asp-for="@Model.Glucose" type="number" class="form-control" id="inputGlucoseLevel" placeholder="Enter Glucose Level" readonly>
                            <span asp-validation-for="@Model.Glucose" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.CigsPerDay"></label>
                            <input asp-for="@Model.CigsPerDay" type="number" class="form-control" id="inputNumberOfCigarettes" placeholder="Enter Number Of Cigarettes" readonly>
                            <span asp-validation-for="@Model.CigsPerDay" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Cholesterol"></label>
                            <input asp-for="@Model.Cholesterol" type="number" class="form-control"  id="CholesterolLevel" placeholder="Enter Cholesterol Level" readonly>
                            <span asp-validation-for="@Model.Cholesterol" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.BPMeds"></label>
                            <select asp-for="@Model.BPMeds" class="form-control wide"  id="inputBloodPressureMedicine" readonly>
                                <option value="">--Select Blood Pressure Medicine-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
                            <span asp-validation-for="@Model.Diabetes" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PrevalentStroke"></label>
                            <select asp-for="@Model.PrevalentStroke" class="form-control wide" id="inputPrevalentStroke" readonly>
                                <option value="">--Select PrevalentStroke-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
        @*                    <input asp-for="@Model.PrevalentStroke" type="number" class="form-control"  id="PrevalentStroke" placeholder="Enter Prevalent Stroke" readonly>*@
                            <span asp-validation-for="@Model.PrevalentStroke" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PrevalentHyp"></label>
                            <select asp-for="@Model.PrevalentHyp" class="form-control wide" id="inputPrevalenthypertension" readonly>
                                <option value="">--Select PrevalentHyp-- </option>
                                <option value="1"> Yes </option>
                                <option value="0"> No </option>
                            </select>
             @*               <input asp-for="@Model.PrevalentHyp" type="number" class="form-control"  id="Prevalenthypertension" placeholder="Enter Prevalent hypertension" readonly>*@
                            <span asp-validation-for="@Model.PrevalentHyp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-2">
                            <label asp-for="@Model.BMI"></label>
                            <input asp-for="@Model.BMI" type="number" class="form-control" id="BMI" placeholder="Enter BMI" readonly>
                            <span asp-validation-for="@Model.BMI" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-2">
                            <label asp-for="@Model.HeartRate"></label>
                            <input asp-for="@Model.HeartRate" type="number" class="form-control" id="BMI" placeholder="Enter HeartRate" readonly>
                            <span asp-validation-for="@Model.HeartRate" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.SysBP"></label>
                            <input asp-for="@Model.SysBP" type="number" class="form-control" id="SystolicBloodPressure" placeholder="Enter Systolic Blood Pressure" readonly>
                            <span asp-validation-for="@Model.SysBP" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.DiaBP"></label>
                            <input asp-for="@Model.DiaBP" type="number" class="form-control" id="DiastolicBloodPressure" placeholder="Enter Diastolic Blood Pressure" readonly>
                            <span asp-validation-for="@Model.DiaBP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Predict</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // Prevent user interaction with the select element
        document.getElementById("inputGender").addEventListener("mousedown", function (event) {
            event.preventDefault();
            this.blur();
            return false;
        });
        document.getElementById("inputSmoking").addEventListener("mousedown", function (event) {
            event.preventDefault();
            this.blur();
            return false;
        });
        document.getElementById("inputDiabetes").addEventListener("mousedown", function (event) {
            event.preventDefault();
            this.blur();
            return false;
        });
        document.getElementById("inputBloodPressureMedicine").addEventListener("mousedown", function (event) {
            event.preventDefault();
            this.blur();
            return false;
        });
        document.getElementById("inputPrevalentStroke").addEventListener("mousedown", function (event) {
            event.preventDefault();
            this.blur();
            return false;
        });
        document.getElementById("inputPrevalenthypertension").addEventListener("mousedown", function (event) {
            event.preventDefault();
            this.blur();
            return false;
        });
    </script>
}