@using Database.Enums;
@model HeartDiseasePrediction.ViewModel.EditAccountProfile;
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    .card {
        box-shadow: 0px 4px 8px 0px #7986CB;
    }
</style>
@*<h3>@ViewData["Title"]</h3>*@
<div class="main-body" style="margin:20px 0px">
    <nav aria-label="breadcrumb" class="main-breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Profile</li>
            <li class="breadcrumb-item">Page</li>
            <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
        </ol>
    </nav>
</div>
<div class="row justify-content-between">
    <div class="col-md-4 card card-body bg-light" style="margin-bottom:80px">
        <form asp-action="Update" id="profile-form" method="post" enctype="multipart/form-data">
            @if (Model.ProfileImg != null)
            {
                <div>
                    <img src="@Model.ProfileImg" style="width:350px;height:350px;" />
                @*    <input asp-for="@Model.ProfileImg" type="hidden" />*@
                </div>
            }
            else
            {
                @if (User.Identity.IsAuthenticated && User.IsInRole("Doctor"))
                {
                    <div>
                        @if (Model.Gender == 0)
                        {
                            <img src="~/images/194915.png" alt="Admin" style="width:350px;height:350px">
                        }
                        else
                        {
                            <img src="~/images/FemaleDoctor.jpg" alt="Admin" style="width:350px;height:350px">
                        }
                    </div>
                }
                else if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <div>
                        @if (Model.Gender == 0)
                        {
                            <img src="~/images/romi.png" alt="Admin" style="width:300px;height:350px">
                        }
                        else
                        {
                            <img src="~/images/avatar-transparent.png" alt="Admin" style="width:350px;height:350px">
                        }
                    </div>
                }
                else if (User.Identity.IsAuthenticated && User.IsInRole("MedicalAnalyst"))
                {
                    <div>
                        @if (Model.Gender == 0)
                        {
                            <img src="~/images/OIP (2).jpg" alt="Admin" style="width:350px;height:350px">
                        }
                        else
                        {
                            <img src="~/images/OIP (3).jpg" alt="Admin" style="width:350px;height:350px">
                        }
                    </div>
                }
                else
                {
                    <div>
                        @if (Model.Gender == 0)
                        {
                            <img src="~/images/romi.png" alt="Admin" style="width:350px;height:350px">
                        }
                        else
                        {
                            <img src="~/images/avatar-transparent.png" alt="Admin" style="width:350px;height:350px">
                        }
                    </div>
                }

            }
           <div style="margin:10px 0px">
                <input type="file" asp-for="@Model.ImageFile" value="0" class="form-control">
                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                <label asp-for="@Model.ProfileImg">Or Link</label>
                <input type="text" asp-for="@Model.ProfileImg" class="form-control" placeholder="Enter Link of image ">
                <span asp-validation-for="@Model.ProfileImg" class="text-danger"></span>
           </div>

            <div>
                <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Enter your Email" hidden />
                <input asp-for="@Model.FirstName" type="text" class="form-control" placeholder="Enter your FirstName " hidden />
                <input asp-for="@Model.LastName" type="text" class="form-control" placeholder="Enter your LastName " hidden />
                <input asp-for="@Model.PhoneNumber" type="number" class="form-control" placeholder="Enter your phone number." hidden />
                <input asp-for="@Model.BirthDate" type="text" class="form-control" hidden>
                <input asp-for="@Model.StartTime" type="text" class="form-control" hidden>
                <input asp-for="@Model.EndTime" type="text" class="form-control" hidden>
                <input asp-for="@Model.SSN" type="text" class="form-control" hidden>
                <input asp-for="@Model.Insurance_No" type="text" class="form-control" hidden>
                <input asp-for="@Model.Location" type="text" class="form-control" hidden>
                <input asp-for="@Model.Zone" type="text" class="form-control" hidden>
                <input asp-for="@Model.Price" type="text" class="form-control" hidden>
                <input asp-for="@Model.About" type="text" class="form-control" hidden>
                <input asp-for="@Model.Name" type="text" class="form-control" hidden>
                <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()" hidden>
                    <option value="NoSelected ">--Please Select Gender-- </option>
                </select>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary" style="margin:10px 110px">Save image</button>
        </form>
       
    </div>
  
    <div class="col-md-6 ">
        <form asp-action="Update" id="profile-form" method="post" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Enter your Email" required readonly/>
                <label asp-for="@Model.Email" class="form-label"></label>
            </div>
             @if(!User.IsInRole("MedicalAnalyst")){
                    <div class="form-floating mb-3 ">
                        <input asp-for="@Model.FirstName" type="text" class="form-control" placeholder="Enter your FirstName " required/>
                        <label asp-for="@Model.FirstName" class="form-label"></label>
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                    <input asp-for="@Model.LastName" type="text" class="form-control" placeholder="Enter your LastName " required />
                        <label asp-for="@Model.LastName" class="form-label"></label>
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
             }
             else{
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter Name" />
                        <label asp-for="@Model.Name" class="form-label"></label>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Location" type="text" class="form-control" placeholder="Enter Location " />
                        <label asp-for="@Model.Location" class="form-label"></label>
                        <span asp-validation-for="@Model.Location" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Zone" type="text" class="form-control" placeholder="Enter Zone " />
                        <label asp-for="@Model.Zone" class="form-label"></label>
                        <span asp-validation-for="@Model.Zone" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.StartTime" type="text" class="form-control" placeholder="Enter Open Lab" />
                        <label asp-for="@Model.StartTime" class="form-label"></label>
                        <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.EndTime" type="text" class="form-control" placeholder="Enter Close Lab " />
                        <label asp-for="@Model.EndTime" class="form-label"></label>
                        <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.About" type="text" class="form-control" placeholder="About you" />
                        <label asp-for="@Model.About" class="form-label"></label>
                        <span asp-validation-for="@Model.About" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Price" type="text" class="form-control" placeholder="Enter Price " />
                        <label asp-for="@Model.Price" class="form-label"></label>
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
             }
          @*  @if (User.IsInRole("MedicalAnalyst"))
            {
               
            }*@
            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" type="text" class="form-control" placeholder="Enter your phone number." required maxlength="12" />
                <label asp-for="@Model.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Doctor"))
            {
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Price" type="text" class="form-control" placeholder="Enter Price " />
                    <label asp-for="@Model.Price" class="form-label"></label>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.About" type="text" class="form-control" placeholder="About you" />
                    <label asp-for="@Model.About" class="form-label"></label>
                    <span asp-validation-for="@Model.About" class="text-danger"></span>
                </div>
            }
            <div class="form-group mb-3">

                @if(!User.IsInRole("MedicalAnalyst")){
                     <span class="input-group-addon date_icon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                     </span>
                    <label asp-for="@Model.BirthDate"></label>
                    <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                        <input asp-for="@Model.BirthDate" type="text" class="form-control" required>
                    </div>
                    <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                    <div class="form-group mb-3">
                        <label asp-for="@Model.Gender"></label>
                        <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()" required>
                            <option value="NoSelected ">--Please Select Gender-- </option>
                        </select>
                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    </div>
                }
            </div>
          
            <div class="m-2" hidden>
                <input asp-for="@Model.ProfileImg" type="hidden" />
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-success">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}