@model IEnumerable<Database.Entities.Lab>

@{
    ViewData["Title"] = "Doctors List Page";
    //Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style type="text/css">
    body {
        background: white;
    }

    /* ===== Career ===== */
    .career-form {
        background-color: #00c6a9;
        border-radius: 5px;
        padding: 0 16px;
    }

        .career-form .form-control {
            background-color: rgba(255, 255, 255, 0.2);
            border: 0;
            padding: 12px 15px;
            color: #fff;
        }

            .career-form .form-control::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #fff;
            }

            .career-form .form-control::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
            }

            .career-form .form-control:-ms-input-placeholder {
                /* IE 10+ */
                color: #fff;
            }

            .career-form .form-control:-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
            }

        .career-form .custom-select {
            background-color: rgba(255, 255, 255, 0.2);
            border: 0;
            padding: 2px 5px;
            color: black;
            width: 100%;
            border-radius: 5px;
            text-align: left;
            height: auto;
            background-image: none;
        }

            .career-form .custom-select:focus {
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .career-form .select-container {
            position: relative;
        }

            .career-form .select-container:before {
                position: absolute;
                right: 15px;
                top: calc(50% - 14px);
                font-size: 18px;
                color: #ffffff;
                content: '\F2F9';
                font-family: "Material-Design-Iconic-Font";
            }

    .filter-result .job-box {
        background: #fff;
        -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
        box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
        border-radius: 10px;
        padding: 10px 35px;
    }

    ul {
        list-style: none;
    }

    .list-disk li {
        list-style: none;
        margin-bottom: 12px;
    }

        .list-disk li:last-child {
            margin-bottom: 0;
        }

    .ul.d-md-block {
        display: block;
    }

        .ul.d-md-block li {
            display: block;
            margin-bottom: 10px; /* Adjust margin as needed */
        }

    .job-box .img-holder {
        height: 80px;
        width: 80px;
        background-color: #00c6a9;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#00c6a9));
        background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #00c6a9 100%);
        font-family: "Open Sans", sans-serif;
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 65px;
    }

    .career-title {
        background-color: #4e63d7;
        color: #fff;
        padding: 15px;
        text-align: center;
        border-radius: 10px 10px 0 0;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
        background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
    }

    .job-overview {
        -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
        box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
        border-radius: 10px;
    }

    media (min-width: 992px) {
        .job-overview

    {
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
    }

    }

    .job-overview .job-detail ul {
        margin-bottom: 28px;
    }

        .job-overview .job-detail ul li {
            opacity: 0.75;
            font-weight: 600;
            margin-bottom: 15px;
        }

            .job-overview .job-detail ul li i {
                font-size: 20px;
                position: relative;
                top: 1px;
            }

    .job-overview .overview-bottom,
    .job-overview .overview-top {
        padding: 35px;
    }

    .job-content ul li {
        font-weight: 600;
        opacity: 0.75;
        border-bottom: 1px solid #ccc;
        padding: 10px 5px;
    }

    media (min-width: 768px) {
        .job-content ul li

    {
        border-bottom: 0;
        padding: 0;
    }

    }

    .job-content ul li i {
        font-size: 20px;
        position: relative;
        top: 1px;
    }

    .mb-30 {
        margin-bottom: 30px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<div class="container" style="margin:20px">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <form asp-action="GetAllLabs" method="post" class="career-form mb-60 ">
                    <div class="row justify-content-between">
                        <div class="col-md-6 col-lg-5 my-4">
                            <div class="input-group position-relative">
                                @Html.TextBox("name",null,new{@class="form-control",placeholder="Search For Lab...",})
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 my-4">
                            <div>
                                <select class="custom-select" name="zone" id="zone">
                                    <option value="">--Search Zone-- </option>
                                    <option value="Alex">Alex</option>
                                    <option value="Al Fayoum">Al Fayoum</option>
                                    <option value="Cairo">Cairo</option>
                                    <option value="Giza">Giza</option>
                                    <option value="Ismailia">Ismailia</option>
                                    <option value="Menoufia">Menoufia</option>
                                    <option value="New Cairo">New Cairo</option>
                                    <option value="Suez">Suez</option>
                                    <option value="Qalyubia">Qalyubia</option>
                                    <option value="Port Said">Port Said</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-4">
                            <button type="submit" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
                <div style="margin-top:10px">
                    @if (!Model.Any())
                    {
                        <div class="alert alert-warning" role="alert">
                            No Labs Found
                        </div>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <div class="filter-result">

                                <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                        <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                            @if (item.LabImage == null)
                                            {
                                                <img src="~/images/Lab.jpg" height="78px" width="78px" class="rounded-circle" alt="@item.Name">
                                            }
                                            else
                                            {
                                                <img src="@item.LabImage" class="rounded-circle" height="77px" width="77px">
                                            }
                                            @*<img src="~/images/FemaleDoctor.jpg" width="60px" class="rounded-circle" alt="@item.Name">*@
                                        </div>
                                        <div class="job-content">
                                            <h5 class="text-center text-md-left">@item.User.Name</h5>
                                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                <li class="mr-md-4">
                                                    <i class="zmdi zmdi-pin mr-2"></i>@item.User.Zone, @item.User.Location
                                                </li>
                                                <li class="mr-md-4">
                                                    <i class="fa fa-money" aria-hidden="true"></i> @item.User.Price EGP
                                                </li>
                                                @*  <li class="mr-md-4">
                                        <i class="fa fa-phone" aria-hidden="true"></i> @item.User.PhoneNumber
                                        </li>
                                        <li class="mr-md-4">
                                        <i class="fa fa-clock-o text-success" aria-hidden="true"></i> @item.User.StartTime
                                        </li>
                                        <li class="mr-md-4">
                                        <i class="fa fa-clock-o text-danger" aria-hidden="true"></i> @item.User.EndTime
                                        </li>*@
                                            </ul>
                                        </div>
                                        <div class="job-content">

                                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans" style="margin-left:105px">
                                                <li class="mr-md-4">
                                                    <i class="fa fa-phone" aria-hidden="true"></i> @item.User.PhoneNumber
                                                </li>
                                                <li class="mr-md-4">
                                                    <i class="fa fa-clock-o text-success" aria-hidden="true"></i> @item.User.StartTime
                                                </li>
                                                <li class="mr-md-4">
                                                    <i class="fa fa-clock-o text-danger" aria-hidden="true"></i> @item.User.EndTime
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="job-right my-4 flex-shrink-0">
                                        <a asp-controller="LabAppointment" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-primary">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <!-- START Pagination -->
            @if (Model.Any())
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-reset justify-content-center">
                        @if (ViewBag.HasPrevious)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Lab/GetAllLabs?currentPage=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" href="/Lab/GetAllLabs?currentPage=@i">@i</a>
                            </li>
                        }

                        @if (ViewBag.HasNext)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Lab/GetAllLabs?currentPage=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
            <!-- END Pagination -->
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}