@model IEnumerable<Database.Entities.Lab>

@{
	//ViewData["Title"] = "Lab List Page";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style>
	.card {
		box-shadow: 0px 4px 8px 0px #7986CB;
	}
</style>
<section class="card card-body bg-light " style="margin:20px 30px">
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-12 offset-md-0">
				<div class="main-body">
					<nav aria-label="breadcrumb" class="main-breadcrumb ">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">Lab</li>
							<li class="breadcrumb-item">List</li>
							<li class="breadcrumb-item active" aria-current="page">List of Labs</li>
						</ol>
					</nav>
				</div>
				@*<div id="PlaceHolderHere"></div>*@
				
				@if (!Model.Any())
				{
					<div class="alert alert-warning" role="alert">
						No Labs Found
					</div>
				}
				else
				{
					<div class="form-inline justify-content-between my-2 my-lg-0 d-flex">
						<a asp-controller="Account" asp-action="RegisterOfLab" class="btn btn-success">
							<i class="fa fa-plus-circle"></i> Add New
						</a>
						@*<button type="button" class="btn btn-success" data-toggle= "ajax-modal" data-target="#addLab"
						data-url="@Url.Action("Create")">
						<i class="fa fa-plus-circle"></i> Add New
						</button>*@
						<div>
							@using (Html.BeginForm("Index", "Lab", FormMethod.Post))
							{
								@Html.TextBox("search",null,new{@class="form-control",placeholder="Search here...",style="margin:5px 0px 5px 5px"})
								<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
							}
						</div>
					</div>
					<table class="table table-hover table-responsive table-striped">
						<thead>
							<tr class="text-center bg-dark text-light">
								<th>Id</th>
								<th>Image</th>
								<th>Name</th>
								<th>Phone</th>
								<th>Location</th>
								@*<th>Price</th>*@
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td class="align-middle text-center counterColumn">
									</td>
									<td class="align-middle text-center">
										@if (item.LabImage == null)
										{
											<img src="~/images/Lab.jpg" alt="Admin" class="rounded-circle" height="50" width="50">
										}
										else
										{
											<img src="@item.LabImage" alt="No Image" class="rounded-circle" height="50" width="50">
										}
									</td>
									<td class="align-middle text-center">
										@item.Name
									</td>
									
									<td class="align-middle text-center">
										@item.PhoneNumber
									</td>
									<td class="align-middle text-center">
										@item.Location
									</td>
									@*<td class="align-middle text-center">
										@item.Price EGP
									</td>*@
									<td class="align-middle text-center">
										<a class="btn btn-outline-primary" asp-controller="Lab" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square"></i> Edit</a> |
										<a class="btn btn-outline-info" asp-controller="Lab" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i> Details</a> |
										<a href="javascript:;" class="btn btn-outline-danger rounded rounded-3 js-delete" data-id="@item.Id"><i class="fa fa-trash"></i> Delete</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				<!-- START Pagination -->
				@if (Model.Any())
				{
					<nav aria-label="Page navigation">
						<ul class="pagination pagination-reset justify-content-center">
							@if (ViewBag.HasPrevious)
							{
								<li class="page-item">
									<a class="page-link" href="/Lab/Index?currentPage=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							}

							@for (int i = 1; i <= ViewBag.TotalPages; i++)
							{
								<li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
									<a class="page-link" href="/Lab/Index?currentPage=@i">@i</a>
								</li>
							}

							@if (ViewBag.HasNext)
							{
								<li class="page-item">
									<a class="page-link" href="/Lab/Index?currentPage=@(ViewBag.CurrentPage + 1)" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							}
						</ul>
					</nav>
				}
				<!-- END Pagination -->
			</div>
		</div>
	</div>
</section>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			$('.js-delete').on('click', function () {
				var btn = $(this);

				const swal = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-danger mx-2',
						cancelButton: 'btn btn-light'
					},
					buttonsStyling: false
				});

				swal.fire({
					title: 'Are you sure that you need to delete this lab?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: `/Lab/DeleteLab/${btn.data('id')}`,
							method: 'DELETE',
							success: function () {
								swal.fire(
									'Deleted!',
									'Lab has been deleted.',
									'success'
								);

								btn.parents('tr').fadeOut();
							},
							error: function () {
								swal.fire(
									'Oooops...',
									'Something went wrong.',
									'error'
								);
							}
						});
					}
				});
			});
		});

		//var strValue = "@((string)ViewBag.msg)";
		//if(strValue!==null && strValue!==''){
		//	Swal.fire({
		//		title: "Created!",
		//		text: strValue,
		//		icon: "success"
		//	});
		//}


		document.addEventListener("DOMContentLoaded", function () {
			var counterCells = document.querySelectorAll(".counterColumn");
			var counter = 1;
			counterCells.forEach(function (cell) {
				cell.textContent = counter++;
			});
		});
	</script>
}