@model Repositories.ViewModel.PrescriptionViewModel

@{
    ViewData["Title"] = "Create Prescription Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="Create">
                    <h4>
                        Create <span>Prescription</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PatientSSN" class="control-label"></label>
                            <input asp-for="@Model.PatientSSN" type="number" class="form-control" id="inputFullName" placeholder="Enter Patient SSN">
                            <span asp-validation-for="@Model.PatientSSN" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PatientEmail" class="control-label"></label>
                            <input asp-for="@Model.PatientEmail" type="text" class="form-control" id="inputDoctorEmail" placeholder="Enter Patient Email">
                            <span asp-validation-for="@Model.PatientEmail" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-lg-4">
                            <label asp-for="@Model.DoctorId" class="control-label"></label>
                            <input asp-for="@Model.DoctorId" type="number" class="form-control" id="inputDoctorId" placeholder="Enter Doctor ID">
                            <span asp-validation-for="@Model.DoctorId" class="text-danger"></span>
                        </div>*@
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.DoctorId">Doctor Name</label>
                            <select asp-for="@Model.DoctorId" class="form-control wide" id="inputDoctor" asp-items="ViewBag.Doctor">
                                <option value="NoSelected ">--Please Select Doctor-- </option>
                            </select>
                            <span asp-validation-for="@Model.DoctorId" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-lg-4">
                            <label asp-for="@Model.DoctorId"></label>
                            <select asp-for="@Model.DoctorId" class="form-control wide" id="inputDoctor" asp-items="ViewBag.Doctor">
                                <option value="NoSelected ">--Please Select Docotr-- </option>
                            </select>
                            <span asp-validation-for="@Model.DoctorId" class="text-danger"></span>
                        </div>*@
                        @*<div class="form-group col-lg-4">
                            <label asp-for="@Model.date"></label>
                            <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                                <input asp-for="@Model.date" type="text" class="form-control" readonly>
                                <span class="input-group-addon date_icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>*@
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.MedicineName" class="control-label"></label>
                            <textarea asp-for="@Model.MedicineName" class="form-control-range" rows="4" cols="30" placeholder="Enter Medician"></textarea>
                            <span asp-validation-for="@Model.MedicineName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}