@*@model Database.Entities.Prescription*@
@model HeartDiseasePrediction.ViewModel.PrescriptionVM

@{
    ViewData["Title"] = "Prescription Details Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style type="text/css">
    body {
        color: black;
        text-align: left;
        background-color: white;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0px 4px 8px 0px #7986CB;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
         padding-right: 8px;
         padding-left: 8px;
    }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

</style>

<div class="container ">
    <div class="main-body" style="margin:10px 170px">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Prescription Details</li>
            </ol>
        </nav>
    </div>
    <div class="row gutters-sm">
        <div class="col-md-8 offset-2">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Prescription Details</h2>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><strong>Doctor Name</strong></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.DoctorName
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><strong>Pateint Email</strong></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.PatientEmail
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><strong>Pateint SSN</strong></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.PatientSSN
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><strong>Date</strong></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.date.ToString("dd MMMM yyyy")
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0"><strong>Medicine Name</strong></h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            @Model.MedicineName
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function ConfirmDelete() {
        document.getElementById("");
        var accept = confirm("Are You Sure to delete this actor?");
        if (accept == false) {
            event.preventDefault();
        }
    }
</script>
@*<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
    }

    .containerr {
        max-width: 600px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .prescription-details {
        margin-top: 20px;
    }

        .prescription-details p {
            margin: 5px 0;
        }

            .prescription-details p span {
                font-weight: bold;
            }
</style>
<div class="containerr">
    <h1>Prescription</h1>
    <div class="prescription-details">
        <p><span>Patient: </span> @Model.PatientEmail</p>
        <p><span>Doctor: </span>  @Model.DoctorName</p>
        <p><span>Date: </span>  @Model.date.ToString("dd MMMM yyyy")</p>
        <p>
            <span>Medication:</span>
            <ul>
                <li>@Model.MedicineName</li>
            </ul>
        </p>
    </div>
</div>*@