@model HeartDiseasePrediction.ViewModel.BookLabAppointmentViewModel

@{
    ViewData["Title"] = "Book Appointment";
}
<style type="text/css">
    /* body {
                color: #000;
                overflow-x: hidden;
                height: 100%;
                background-color: #C5CAE9 !important;
                background-repeat: no-repeat;
                padding: 0px !important;
            }*/

    /*.container-fluid {
                padding-top: 120px !important;
                padding-bottom: 120px !important;
            }*/

    .card {
        box-shadow: 0px 4px 8px 0px #7986CB;
    }

    input {
        padding: 10px 20px !important;
        border: 1px solid #060 !important;
        border-radius: 10px;
        box-sizing: border-box;
        /* background-color: white !important;
                color: #fff !important;*/
        font-size: 16px;
        letter-spacing: 1px;
        width: 180px;
    }

        input:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #512DA8;
            outline-width: 0;
        }

    ::placeholder {
        color: #000;
        opacity: 1;
    }

    :-ms-input-placeholder {
        color: #000;
    }

    ::-ms-input-placeholder {
        color: #000;
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0;
    }

    .datepicker {
        background-color: white !important;
        color: #000 !important;
        border: none;
        padding: 5px !important;
    }

    .datepicker-dropdown:after {
        border-bottom: 6px solid #000;
    }

    thead tr:nth-child(3) th {
        color: #fff !important;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .dow, .old-day, .day, .new-day {
        width: 40px !important;
        height: 40px !important;
        border-radius: 0px !important;
    }

        .old-day:hover, .day:hover, .new-day:hover, .month:hover, .year:hover, .decade:hover, .century:hover {
            border-radius: 6px !important;
            background-color: #eee;
            color: #000;
        }

    /*.active {
                border-radius: 6px !important;
                background-image: linear-gradient(#90CAF9, #64B5F6) !important;
                color: #000 !important;
            }*/

    .disabled {
        color: #616161 !important;
    }

    .prev, .next, .datepicker-switch {
        border-radius: 0 !important;
        padding: 20px 10px !important;
        text-transform: uppercase;
        font-size: 20px;
        color: #000 !important;
        opacity: 0.8;
    }

        .prev:hover, .next:hover, .datepicker-switch:hover {
            background-color: inherit !important;
            opacity: 1;
        }

    .cell {
        border: 1px solid;
        margin: 2px;
        cursor: pointer;
    }

        .cell:hover {
            border: 1px solid #3D5AFE;
        }

        .cell.select {
            background-color: #3D5AFE;
            color: #fff;
            cursor: not-allowed;
        }

    .fa-calendar {
        color: #fff;
        font-size: 20px;
        padding-top: 8px;
        padding-left: 5px;
        cursor: pointer;
    }

    .fa-envelope-o {
        padding-top: 10px;
        padding-left: 5px;
    }

</style>

<div class="card card-body" style="margin:20px 100px 0px 100px">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Lab</li>
                <li class="breadcrumb-item">Details</li>
                <li class="breadcrumb-item active" aria-current="page">Lab Details</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-xl-3 col-lg-4">
                @if (Model.LabImage == null)
                {
                    <img src="~/images/Lab.jpg" width="170px" class="rounded-circle" alt="@Model.Name">
                }
                else
                {
                    <img src="@Model.LabImage" width="160px" class="rounded-circle" alt="@Model.Name">
                }
            </div>
            <div class="col-xl-8 col-lg-10">
                <h2 style="color:royalblue"><strong>Lab Details</strong></h2>
                <h2>
                   
                    @Model.Name
                </h2>
                <div class="d-flex flex-row align-items-center mb-3">
                    <div style="padding-right:10px">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span style="text-decoration:none;">
                            @Model.Zone @Model.Location
                        </span>
                    </div>
         
                    <div style="padding-right:10px">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span style="text-decoration:none;">
                            @Model.LabPhoneNumber 
                        </span>
                    </div>
                         <div style="padding-right:10px">
                    @*<i class="fa fa-usd" aria-hidden="true"></i>*@
                        <i class="fa fa-money" aria-hidden="true"></i> Fee:
                    <span style="text-decoration:none;">
                    @Model.Price EGP
                    </span>
                    </div>
                </div>
                <div class="align-items-center mb-6">
                    <div style="padding-right:15px">
                        <i class="fa fa-drivers-license-o"></i> <span>@Model.About</span>
                    </div>
                    <div style="padding-right:15px">
                        <i class="fa fa-clock-o text-success" aria-hidden="true"></i> <span>@Model.StartTime</span>
                        <i class="fa fa-clock-o text-danger" aria-hidden="true"></i> <span class="margin-right:10px">@Model.EndTime</span>
                    </div>
                    <div style="padding-right:15px">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span>@Model.LabEmail</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-body" style="margin:20px 100px 10px 100px">
    <div class="main-body">
        <div aria-label="breadcrumb" class="main-breadcrumb ">
            <div class="breadcrumb" style="background-color:#00c6a9">
                <div class="justify-content-center text-white" aria-current="page"><h4>Book Appointment</h4></div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-fluid px-0 px-sm-4 mx-auto">
            <div class="row justify-content-center mx-0">
                <div class="col-lg-10">
                    <form asp-action="Create" method="post">
                        <div class="card border-0">
                            <div autocomplete="off">
                                <div class="card-header bg-secondary">
                                    <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                                        <div class="form-group col-lg-12">
                                            <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                                                Date: <input asp-for="@Model.Date" id="displayYear" type="text" class="form-control" style="margin:0px 10px" readonly>
                                                <span class="input-group-addon date_icon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                            <span asp-validation-for="@Model.Date" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-3 p-sm-5">
                                    <div class="row text-center mx-0">
                                        @{
                                            @if ((Model.StartTime == "09:00AM" && Model.EndTime == "07:00PM") || (Model.StartTime == "9:00AM" && Model.EndTime == "7:00PM") || Model.StartTime == "09:00 AM" && Model.EndTime == "07:00 PM" || Model.StartTime == "9:00 AM" && Model.EndTime == "7:00 PM")
                                            {
                                                var times = new List<string> { "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "09:00AM" && Model.EndTime == "06:00PM") || (Model.StartTime == "9:00AM" && Model.EndTime == "6:00PM") || Model.StartTime == "09:00 AM" && Model.EndTime == "06:00 PM" || Model.StartTime == "9:00 AM" && Model.EndTime == "6:00 PM")
                                            {
                                                var times = new List<string> { "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "09:00AM" && Model.EndTime == "05:00PM") || (Model.StartTime == "9:00AM" && Model.EndTime == "5:00PM") || Model.StartTime == "09:00 AM" && Model.EndTime == "05:00 PM" || Model.StartTime == "9:00 AM" && Model.EndTime == "5:00 PM")
                                            {
                                                var times = new List<string> { "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "09:00AM" && Model.EndTime == "04:00PM") || (Model.StartTime == "9:00AM" && Model.EndTime == "4:00PM") || Model.StartTime == "09:00 AM" && Model.EndTime == "04:00 PM" || Model.StartTime == "9:00 AM" && Model.EndTime == "4:00 PM")
                                            {
                                                var times = new List<string> { "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "09:00AM" && Model.EndTime == "03:00PM") || (Model.StartTime == "9:00AM" && Model.EndTime == "3:00PM") || Model.StartTime == "09:00 AM" && Model.EndTime == "03:00 PM" || Model.StartTime == "9:00 AM" && Model.EndTime == "3:00 PM")
                                            {
                                                var times = new List<string> { "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "08:00AM" && Model.EndTime == "05:00PM") || (Model.StartTime == "8:00AM" && Model.EndTime == "5:00PM") || Model.StartTime == "08:00 AM" && Model.EndTime == "05:00 PM" || Model.StartTime == "8:00 AM" && Model.EndTime == "5:00 PM")
                                            {
                                                var times = new List<string> { "8:00AM","9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "08:00AM" && Model.EndTime == "04:00PM") || (Model.StartTime == "8:00AM" && Model.EndTime == "4:00PM") || Model.StartTime == "08:00 AM" && Model.EndTime == "04:00 PM" || Model.StartTime == "8:00 AM" && Model.EndTime == "4:00 PM")
                                            {
                                                var times = new List<string> { "8:00AM", "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "08:00AM" && Model.EndTime == "03:00PM") || (Model.StartTime == "8:00AM" && Model.EndTime == "3:00PM") || Model.StartTime == "08:00 AM" && Model.EndTime == "03:00 PM" || Model.StartTime == "8:00 AM" && Model.EndTime == "3:00 PM")
                                            {
                                                var times = new List<string> { "8:00AM", "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "08:00AM" && Model.EndTime == "06:00PM") || (Model.StartTime == "8:00AM" && Model.EndTime == "6:00PM") || Model.StartTime == "08:00 AM" && Model.EndTime == "06:00 PM" || Model.StartTime == "8:00 AM" && Model.EndTime == "6:00 PM")
                                            {
                                                var times = new List<string> { "8:00AM", "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "08:00AM" && Model.EndTime == "07:00PM") || (Model.StartTime == "8:00AM" && Model.EndTime == "7:00PM") || Model.StartTime == "08:00 AM" && Model.EndTime == "06:00 PM" || Model.StartTime == "8:00 AM" && Model.EndTime == "6:00 PM")
                                            {
                                                var times = new List<string> { "8:00AM", "9:00AM", "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "12:00PM" && Model.EndTime == "10:00PM") || Model.StartTime == "12:00 PM" && Model.EndTime == "10:00 PM")
                                            {
                                                var times = new List<string> { "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM","8:00PM","9:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "10:00AM" && Model.EndTime == "07:00PM") || (Model.StartTime == "10:00AM" && Model.EndTime == "7:00PM") || Model.StartTime == "10:00 AM" && Model.EndTime == "07:00 PM" || Model.StartTime == "10:00 AM" && Model.EndTime == "7:00 PM")
                                            {
                                                var times = new List<string> { "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "10:00AM" && Model.EndTime == "05:00PM") || (Model.StartTime == "10:00AM" && Model.EndTime == "5:00PM") || Model.StartTime == "10:00 AM" && Model.EndTime == "05:00 PM" || Model.StartTime == "10:00 AM" && Model.EndTime == "5:00 PM")
                                            {
                                                var times = new List<string> { "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "10:00AM" && Model.EndTime == "04:00PM") || (Model.StartTime == "10:00AM" && Model.EndTime == "4:00PM") || Model.StartTime == "10:00 AM" && Model.EndTime == "04:00 PM" || Model.StartTime == "10:00 AM" && Model.EndTime == "4:00 PM")
                                            {
                                                var times = new List<string> { "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "10:00AM" && Model.EndTime == "03:00PM") || (Model.StartTime == "10:00AM" && Model.EndTime == "3:00PM") || Model.StartTime == "10:00 AM" && Model.EndTime == "03:00 PM" || Model.StartTime == "10:00 AM" && Model.EndTime == "3:00 PM")
                                            {
                                                var times = new List<string> { "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "11:00AM" && Model.EndTime == "05:00PM") || (Model.StartTime == "11:00AM" && Model.EndTime == "5:00PM") || Model.StartTime == "11:00 AM" && Model.EndTime == "05:00 PM" || Model.StartTime == "11:00 AM" && Model.EndTime == "5:00 PM")
                                            {
                                                var times = new List<string> { "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "11:00AM" && Model.EndTime == "06:00PM") || (Model.StartTime == "11:00AM" && Model.EndTime == "6:00PM") || Model.StartTime == "11:00 AM" && Model.EndTime == "06:00 PM" || Model.StartTime == "11:00 AM" && Model.EndTime == "6:00 PM")
                                            {
                                                var times = new List<string> { "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM","4:00PM","5:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "11:00AM" && Model.EndTime == "07:00PM") || (Model.StartTime == "11:00AM" && Model.EndTime == "7:00PM") || Model.StartTime == "11:00 AM" && Model.EndTime == "07:00 PM" || Model.StartTime == "11:00 AM" && Model.EndTime == "7:00 PM")
                                            {
                                                var times = new List<string> { "10:00AM", "11:00AM", "12:00PM", "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM","6:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "01:00PM" && Model.EndTime == "10:00PM") || (Model.StartTime == "1:00PM" && Model.EndTime == "10:00PM") || Model.StartTime == "01:00 AM" && Model.EndTime == "10:00 PM" || Model.StartTime == "1:00 AM" && Model.EndTime == "10:00 PM")
                                            {
                                                var times = new List<string> { "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "01:00PM" && Model.EndTime == "11:00PM") || (Model.StartTime == "1:00PM" && Model.EndTime == "11:00PM") || Model.StartTime == "01:00 AM" && Model.EndTime == "11:00 PM" || Model.StartTime == "1:00 AM" && Model.EndTime == "11:00 PM")
                                            {
                                                var times = new List<string> { "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM", "10:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "01:00PM" && Model.EndTime == "09:00PM") || (Model.StartTime == "1:00PM" && Model.EndTime == "9:00PM") || Model.StartTime == "01:00 AM" && Model.EndTime == "09:00 PM" || Model.StartTime == "1:00 AM" && Model.EndTime == "9:00 PM")
                                            {
                                                var times = new List<string> { "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "01:00PM" && Model.EndTime == "08:00PM") || (Model.StartTime == "1:00PM" && Model.EndTime == "8:00PM") || Model.StartTime == "01:00 AM" && Model.EndTime == "08:00 PM" || Model.StartTime == "1:00 AM" && Model.EndTime == "8:00 PM")
                                            {
                                                var times = new List<string> { "1:00PM", "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "02:00PM" && Model.EndTime == "10:00PM") || (Model.StartTime == "2:00PM" && Model.EndTime == "10:00PM") || Model.StartTime == "02:00 AM" && Model.EndTime == "10:00 PM" || Model.StartTime == "2:00 AM" && Model.EndTime == "10:00 PM")
                                            {
                                                var times = new List<string> { "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM"};
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "02:00PM" && Model.EndTime == "11:00PM") || (Model.StartTime == "2:00PM" && Model.EndTime == "11:00PM") || Model.StartTime == "02:00 PM" && Model.EndTime == "11:00 PM" || Model.StartTime == "2:00 PM" && Model.EndTime == "11:00 PM")
                                            {
                                                var times = new List<string> { "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM", "10:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "02:00PM" && Model.EndTime == "9:00PM") || (Model.StartTime == "2:00PM" && Model.EndTime == "9:00PM") || Model.StartTime == "02:00 PM" && Model.EndTime == "9:00 PM" || Model.StartTime == "2:00 PM" && Model.EndTime == "9:00 PM")
                                            {
                                                var times = new List<string> { "2:00PM", "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "03:00PM" && Model.EndTime == "10:00PM") || (Model.StartTime == "3:00PM" && Model.EndTime == "10:00PM") || Model.StartTime == "03:00 PM" && Model.EndTime == "10:00 PM" || Model.StartTime == "3:00 PM" && Model.EndTime == "10:00 PM")
                                            {
                                                var times = new List<string> { "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            @if ((Model.StartTime == "03:00PM" && Model.EndTime == "09:00PM") || (Model.StartTime == "3:00PM" && Model.EndTime == "9:00PM") || Model.StartTime == "03:00 PM" && Model.EndTime == "09:00 PM" || Model.StartTime == "3:00 PM" && Model.EndTime == "9:00 PM")
                                            {
                                                var times = new List<string> { "3:00PM", "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM" };
                                                @foreach (var time in times)
                                                {
                                                    <input class="col-md-2 col-4 my-1 px-2 cell py-1" type="button" value="@time" onclick="setTime('@time')" style="margin:7px" />
                                                }
                                            }
                                            <input asp-for="Time" id="selectedTime" type="hidden" name="Time" required/>
                                        }
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn btn-success " style="margin:20px 230px 10px; padding:0px 50px">
                            <button type="submit" class="btn text-white"><strong>Book Appointment</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {

            $('.cell').click(function () {
                $('.cell').removeClass('select');
                $(this).addClass('select');
            });
        });

        function setTime(time) {
            document.getElementById("selectedTime").value = time;
        }
    </script>
}
