@model List<Database.Entities.AcceptAndCancelLabAppointment>

@{
	ViewData["Title"] = "Appointment List Page";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
	.card {
		box-shadow: 0px 4px 8px 0px #7986CB;
	}
</style>
<section class="card card-body bg-light " style="margin:50px 150px">
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="main-body">
					<nav aria-label="breadcrumb" class="main-breadcrumb ">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">Appointment</li>
							<li class="breadcrumb-item">List</li>
							<li class="breadcrumb-item active" aria-current="page">Accepted And Cancel Appointments</li>
						</ol>
					</nav>
				</div>
				@if (!Model.Any())
				{
					<div class="alert alert-warning" role="alert">
						No Appointments Found
					</div>
				}
				else
				{
					<div class="form-inline justify-content-end my-2 my-lg-1 d-flex">
						<div>
							@using (Html.BeginForm("GetAcceptAndCancelLabAppointments", "LabAppointment", FormMethod.Post))
							{
								@Html.TextBox("date",null,new{@class="form-control",type = "date",style="margin:5px 0px 5px 5px"})
								<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
							}
						</div>
					</div>
					<table class="table table-hover table-responsive table-striped">
						<thead>
							<tr class="text-center bg-dark text-light">
								<th>Id</th>
								<th>Lab</th>
								<th>Date</th>
								<th>Time</th>
								<th>Patient SSN</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td class="align-middle text-center counterColumn">
									</td>
									<td class="align-middle text-center">
										@item.Lab.User.Name
									</td>
									<td class="align-middle text-center">
										@item.Date.ToString("dd MMM yyyy")
									</td>
									<td class="align-middle text-center">
										@item.Time
									</td>
									@*<td class="align-middle text-center">
							@item.Patientt.PhoneNumber
							</td>*@
									<td class="align-middle text-center">
										@item.PatientSSN
									</td>
									@if (item.IsAccepted == true)
									{
										<td class="align-middle text-center mr-md-4 badge text-white" href="#" style="padding:5px;margin:20px;background-color:green" readonly>
											<i class="zmdi zmdi-time mr-2"></i> <strong>Accepted</strong>
										</td>
									}
									else
									{
										<td class="align-middle text-center mr-md-4 badge text-white" href="#" style="padding:5px;margin:20px;background-color:red" readonly>
											<i class="zmdi zmdi-time mr-2"></i> <strong>Canceled</strong>
										</td>
									}
								</tr>
							}
						</tbody>
					</table>
				}
				<!-- START Pagination -->
				@if (Model.Any())
				{
					<nav aria-label="Page navigation">
						<ul class="pagination">
							@if (ViewBag.HasPrevious)
							{
								<li class="page-item">
									<a class="page-link" href="/LabAppointment/GetAcceptAndCancelLabAppointments?currentPage=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							}

							@for (int i = 1; i <= ViewBag.TotalPages; i++)
							{
								<li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
									<a class="page-link" href="/LabAppointment/GetAcceptAndCancelLabAppointments?currentPage=@i">@i</a>
								</li>
							}

							@if (ViewBag.HasNext)
							{
								<li class="page-item">
									<a class="page-link" href="/LabAppointment/GetAcceptAndCancelLabAppointments?currentPage=@(ViewBag.CurrentPage + 1)" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							}
						</ul>
					</nav>
				}
				<!-- END Pagination -->
			</div>
		</div>
	</div>
</section>
@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			$('.js-delete').on('click', function () {
				var btn = $(this);

				const swal = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-danger mx-2',
						cancelButton: 'btn btn-light'
					},
					buttonsStyling: false
				});

				swal.fire({
					title: 'Are you sure that you need to cancel this appointment?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, cancel it!',
					cancelButtonText: 'No',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: `/LabAppointment/Canceled/${btn.data('id')}`,
							method: 'DELETE',
							success: function () {
								swal.fire(
									'Deleted!',
									'Appointment has been canceled.',
									'success'
								);

								btn.parents('tr').fadeOut();
							},
							error: function () {
								swal.fire(
									'Oooops...',
									'Something went wrong.',
									'error'
								);
							}
						});
					}
				});
			});
		});

		document.addEventListener("DOMContentLoaded", function () {
			var counterCells = document.querySelectorAll(".counterColumn");
			var counter = 1;
			counterCells.forEach(function (cell) {
				cell.textContent = counter++;
			});
		});
	</script>
}