@model IEnumerable<Database.Entities.Patient>

@{
	ViewData["Title"] = "Patients List Page";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
	.card {
		box-shadow: 0px 4px 8px 0px #7986CB;
	}
</style>
<section class="card card-body bg-light " style="margin:20px 65px">
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-13 offset-md-0">
				<div class="main-body">
					<nav aria-label="breadcrumb" class="main-breadcrumb ">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">Patients</li>
							<li class="breadcrumb-item">List</li>
							<li class="breadcrumb-item active" aria-current="page">List of Patients</li>
						</ol>
					</nav>
				</div>
				@if (!Model.Any())
				{
					<div class="alert alert-warning" role="alert">
						No Patients Found
					</div>
				}
				else
				{
					<div class="form-inline justify-content-between my-2 my-lg-1 d-flex">
						<a asp-controller="Account" asp-action="RegisterOfUser" class="btn btn-success">
							<i class="fa fa-user-plus" aria-hidden="true"></i> Add New
						</a>
						<div>
							@using (Html.BeginForm("Index", "Patient", FormMethod.Post))
							{
								@Html.TextBox("search",null,new{@class="form-control",placeholder="Search here...",style="margin:5px 0px 5px 5px"})
								<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
							}
						</div>
					</div>
					<table class="table table-hover table-responsive table-striped" id="Patients">
						<thead>
							<tr class="text-center bg-dark text-light">
								<th>Id</th>
								@*<th>SSN</th>*@
								@*<th>InsuranceNo</th>*@
								<th>Image</th>
								@*<th>Email</th>*@
								<th>Name</th>
								@*<th>LastName</th>*@
								<th>Age</th>
								<th>Gender</th>
								<th>Phone</th>
								<th>
								</th>

							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									@*<td class="align-middle text-center">
							<img class="rounded-circle" src="@item.ProfileImg" alt="@item.FullName" style="max-width:150px">
							</td>*@
									<td class="align-middle text-center counterColumn">
									</td>
									@*<td class="align-middle text-center">
										@item.SSN
									</td>*@
									@*<td class="align-middle text-center">
							@item.Insurance_No
							</td>*@
									<td class="align-middle text-center">
										@if (item.User.ProfileImg == null)
										{
											if (item.User.Gender == 0)
											{
												<img src="~/images/romi.png" alt="Admin" class="rounded-circle" height="50" width="50">
											}
											else
											{
												<img src="~/images/avatar-transparent.png" alt="Admin" class="rounded-circle" height="50" width="50">
											}
										}
										else
										{
											<img src="@item.User.ProfileImg" alt="No Image" class="rounded-circle" height="50" width="50">
										}
									</td>
								@*	<td class="align-middle text-center">
										@item.User.Email
									</td>*@
									<td class="align-middle text-center">
										@item.User.FirstName @item.User.LastName
									</td>
									@*<td class="align-middle text-center">
										@item.User.LastName
									</td>*@
									<td class="align-middle text-center">
										@item.User.Age
									</td>
									<td class="align-middle text-center">
										@item.User.Gender
									</td>
									<td class="align-middle text-center">
										@item.User.PhoneNumber
									</td>
									<td class="align-middle text-center">
										<a class="btn btn-outline-primary" asp-controller="Patient" asp-action="Edit" asp-route-ssn="@item.SSN"><i class="fa fa-pencil-square"></i> Edit</a> |
										<a class="btn btn-outline-info" asp-controller="Patient" asp-action="PatientDetails" asp-route-ssn="@item.SSN"><i class="fa fa-eye"></i> Details</a> |
										<a class="btn btn-outline-danger " asp-controller="Patient" asp-action="DeletePatient" asp-route-ssn="@item.SSN" onclick="ConfirmDelete()"><i class="fa fa-trash"></i> Delete</a>
										@*<a href="javascript:;" class="btn btn-outline-danger rounded rounded-3 js-delete" data-id="@item.SSN"><i class="fa fa-trash"></i> Delete</a>*@
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				<!-- START Pagination -->
				@if (Model.Any())
				{
					<nav aria-label="Page navigation">
						<ul class="pagination">
							@if (ViewBag.HasPrevious)
							{
								<li class="page-item">
									<a class="page-link" href="/Patient/Index?currentPage=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
							}

							@for (int i = 1; i <= ViewBag.TotalPages; i++)
							{
								<li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
									<a class="page-link" href="/Patient/Index?currentPage=@i">@i</a>
								</li>
							}

							@if (ViewBag.HasNext)
							{
								<li class="page-item">
									<a class="page-link" href="/Patient/Index?currentPage=@(ViewBag.CurrentPage + 1)" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							}
						</ul>
					</nav>
				}
				<!-- END Pagination -->
			</div>
		</div>
	</div>
</section>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		function ConfirmDelete() {
			document.getElementsByClassName("");
			var accept = confirm("Are You Sure to delete this patient?");
			if (accept == false) {
				event.preventDefault();
			}
		}

		$(document).ready(function () {
			$('.js-delete').on('click', function () {
				var btn = $(this);

				const swal = Swal.mixin({
					customClass: {
						confirmButton: 'btn btn-danger mx-2',
						cancelButton: 'btn btn-light'
					},
					buttonsStyling: false
				});

				swal.fire({
					title: 'Are you sure that you need to delete this Pateint?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes, delete it!',
					cancelButtonText: 'No, cancel!',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: `/Patient/Delete/${btn.data('ssn')}`,
							method: 'DELETE',
							success: function () {
								swal.fire(
									'Deleted!',
									'Patient has been deleted.',
									'success'
								);

								btn.parents('tr').fadeOut();
							},
							error: function () {
								swal.fire(
									'Oooops...',
									'Something went wrong.',
									'error'
								);
							}
						});
					}
				});
			});
		});


		document.addEventListener("DOMContentLoaded", function () {
			var counterCells = document.querySelectorAll(".counterColumn");
			var counter = 1;
			counterCells.forEach(function (cell) {
				cell.textContent = counter++;
			});
		});
	</script>
}